* {
    font-family: "Poppins";
}

.bolded {
    font-weight: bold;
    color: #30475e !important;
}

.light {
    color: #30475e;
}

.featurette {
    padding: 30px !important;
    background-color: #dddd;
}


